.input-container {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    margin-bottom: 4px;
}

/*We hide it visually but reacheable to assitive technologies*/

.label.hide {
    position: absolute;
    left: -9999em;
}

.input {
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
}