:root {
  --main-color: #ffc65c;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.arrow-down {
  display: inline-block;
  margin-bottom: 4px;
  padding: 4px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}